<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c142433a-2c54-4ec4-8eae-f7b2609a3aaf/resourceGroups/SistemasOperativos/providers/Microsoft.Web/sites/SistemaAlerta3</ResourceId>
    <ResourceGroup>SistemasOperativos</ResourceGroup>
    <ApiResourceId>/subscriptions/c142433a-2c54-4ec4-8eae-f7b2609a3aaf/resourceGroups/SistemasOperativos/providers/Microsoft.ApiManagement/service/SistemaAlertasBackEndapi2/apis/SistemaAlertasBackEnd</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sistemaalerta3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>83b0b296-2f90-4e26-9042-3cdca7af7393</ProjectGuid>
    <MSDeployServiceURL>sistemaalerta3.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SistemaAlerta3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$SistemaAlerta3</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>